{% include 'header.html.twig' %}

<div class="row">
    <div class="col-12">
        <h1>Groups</h1>
        <p><a class="btn btn-primary" href="{{ path('add_group') }}">Add group</a></p>
        {% if groups|length > 0 %}
        <table class="table">
            <thead>
            <th>Group Name</th>
            <th></th>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.getName() }}</td>
                    <td><a class="btn btn-light" href="{{ path('edit_group', {'id': group.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="lead">Nothing found.</p>
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}