{% include 'header.html.twig' %}

<h1>Projects</h1>

<canvas class="chart" data-url="/api/charts/all"></canvas>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Downloads in the past 24 hours</th>
        <th>Total Downloads</th>
    </tr>
    </thead>

    <tbody>
    {% for project in projects %}
        <tr>
            <td><a href="{{ path('project', {'slug': project.slug}) }}">{{ project.name }}</a></td>
            <td>{{ project.getDownloadsInPast24Hours() }}</td>
            <td>{{ project.getTotalDownloads() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'footer.html.twig' %}