{% include 'header.html.twig' %}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Downloads in the past 24 hours</th>
            <th>Total Downloads</th>
        </tr>
    </thead>

    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.getDownloadsInPast24Hours() }}</td>
            <td>{{ project.getTotalDownloads() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'footer.html.twig' %}