{% include 'header.html.twig' %}

<div class="text-center">
    <h1>Nothing to see here</h1>
    <p>unless you want to <a href="{{ path('login') }}">sign in</a>.</p>
</div>

{% include 'footer.html.twig' %}